@using WEBFPTBOOK.Models;
@model List<Cart>
@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>Cart</h2>
<table border="1" align="center">
    <tr>
        <td>Book ID</td>
        <td>Book Name</td>
        <td>book cover photo</td>
        <td>Quantity</td>
        <td>Price</td>
        <td>Total Price</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    @foreach (var item in Model)
    {
<tr>
    <td> @item.IBookID</td>
    <td> @item.IBookName </td>
    <td><img width="100px" src="~/product_imgs/@item.IBookPic" /></td>
    @using (Html.BeginForm("UpdateCart","Cart", new { @iBookID = item.IBookID }))
    { 
    <td><input type="number" min"1" name="txtQuatity" value="@item.IQuatity"/></td>
    <td>@String.Format("{0:0,0}", item.IPrice)</td>
    <td>@String.Format("{0:0,0}", item.ITotal)</td>
    <td> <a href="@Url.Action("Details","FPTBook", new {ID = item.IBookID})">Details</a></td>
    <td> @Html.ActionLink("Delete","DeleteCart", new { @iBookID= item.IBookID})</td>
    <td><input type="submit"  value="Update"/></td>
    }
</tr>
    }

<tr style="font-weight:bold; text-align:right; color:red">
    <td colspan="4">Book Quantity: @ViewBag.TotalQuantity</td>
    <td colspan="5">Total Price: @String.Format("{0:0,0}", ViewBag.TotalPrice) $</td>
</tr>
<tr style="font-weight:bold; text-align:center; color:red">
    <td colspan="9"> @Html.ActionLink("Order Now", "Order","Cart")</td>
</tr>
</table>

